<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP page</title>
</head>
<body>
    <table border="1">
        <tr>
            <td><a href="{% url 'home' %}"><button> HOME</button></a> </td>
            <td><a href="{% url 'jeju' %}"><button>JEJU</button></a></td>
            <td><a href="{% url 'seoul' %}"><button>SEOUL</button></a></td>
        </tr>
    </table>
</body>
</html>