<html>
    <header>
        <title>
            SEOUL PAGE
        </title>
    </header>
    <body>
        <hr>
           {% include 'local/navbar.html'%}
           <H6> Welcome SEOUL Special City</H6>
        <hr>
        <div>
            <table border="1">
                <tr>
                    <td>


                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Phone Number
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Kevin
                    </td>
                    <td>
                        010-8888-9999
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Alice
                    </td>
                    <td>
                        010-9999-8888
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <a href="/local/jeju/"><button>JEJU</button></a>
        <a href="/local/seoul/"><button>SEOUL</button></a>
     <hr>
    </body>
</html>
