{% extends 'config/form.html' %}
{% block center %} <!-- center는 form.html 과 동일하게-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<style>
    footer {
      text-align: center;
      padding: 3px;
      background-color: DarkSalmon;
      color: white;
    }
</style>
<body>
    <div>
        <h1>This is the INDEX page in PBook.</h1>
    </div>
    <div>
        {% for value in Phonebook %}
            <li><a href="{% url 'pb:detail' value.id %}">{{value.fname}}</a> : {{ value.phone }}</li>
        {% endfor %}
        <hr>
       </div>
       <footer>
        <p>Author: Kevin Kim<br>
        <a href="mailto:admin@labs.local">admin@labs.local</a></p>
      </footer>
</body>
</html>
{% endblock center %}