<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOARD detail PAGE</title>
</head>
<body>
    <H1>Hello detail BOARD</H1>
    <h1>TITLE : {{ btitle.subject }}</h1>
    <hr>
    <textarea disabled cols="50" rows="10">{{btitle.content}}</textarea>
    <hr>
    <a href="{% url 'index' %}"><button>HOME</button></a>
    <a href="{% url 'delete' btitle.id %}"><button>DELETE</button></a>

</body>
</html>